{% extends 'shared/site.html' %}
{% block site_content %}
    <div class="d-flex">
        <div class="d-inline p-2 w-50">
            <img src="{{ pet.image.url }}"
                 class="w-50 rounded mx-auto d-block">
        </div>
        <div class="d-inline p-2 w-50">
            <div class="d-flex justify-content-between">
                <h5><u>Type:</u> {{ pet.type }}</h5>
                <h5><u>Name:</u> {{ pet.name }}</h5>
                <h5><u>Age:</u> {{ pet.age }}</h5>
                {% if pet.sell_set.count > 0 %}
                    Price: SOLD
                {% else %}
                    Price: {{ pet.price }}{{ pet.price_tag }}
                {% endif %}
            </div>
            <p class="mt-2">Description: {{ pet.description }}</p>
            <div>
                {% if can_edit %}
                    <a href="{% url 'edit pet' pet.pk %}" class="btn btn-success">Edit</a>
                {% endif %}
                {% if can_delete %}
                    <a href="{% url 'delete pet' pet.pk %}" class="btn btn-danger">Delete</a>
                {% endif %}
                {% if can_sell %}
                    {% if is_sold %}
                        <a href="{% url 'sell pet' pet.id %}"><i class="btn btn-danger" aria-hidden="true">SOLD</i></a>
                    {% else %}
                        <a href="{% url 'sell pet' pet.id %}"><i class="btn btn-success" aria-hidden="true">FOR SALE</i></a>
                    {% endif %}
                {% endif %}
            </div>
            {% if user.userprofile.mobile_number and user.userprofile.first_name and user.userprofile.last_name %}
                {% if can_like %}
                    {% if has_liked %}
                        <a href="{% url 'like pet' pet.id %}"><i class="fa fa-heart" aria-hidden="true"></i></a>
                    {% else %}
                        <a href="{% url 'like pet' pet.id %}"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                    {% endif %}
                {% endif %}
            {% endif %}
            <p class="mt-2">Likes: {{ pet.like_set.count }}</p>
        </div>
    </div>
    <div class="d-block" style="background-color: #f1e3e3; padding:2%">
        {% if pet.comment_set.all %}
            {% for comment in pet.comment_set.all %}
                <div class="box">
                    {% if comment.user.profile_picture %}
                        <img class="rounded-circle mb-3" src="{{ comment.user.profile_picture.url }}"
                             width="35" height="35"
                             alt="Unfortunately No image">
                    {% else %}
                        <img class="rounded-circle mb-3"
                             src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Anonymous_emblem.svg/1200px-Anonymous_emblem.svg.png"
                             width="35" height="35" alt="Generic picture">
                    {% endif %}
                    <a href="{% url 'user profile' comment.user_id %}">
                        {{ comment.user.user.username }}</a>
                    <h5><em>{{ comment.text }}</em></h5>
                    <hr>
                </div>
            {% endfor %}
        {% else %}
            <div class="box">
                <h3>There are no comments for this pet. </h3>
            </div>
        {% endif %}
        {% if user.userprofile.mobile_number and user.userprofile.first_name and user.userprofile.last_name %}
            {% if can_comment %}
                <div class="box">
                    <form method="post" action="{% url 'pet details or comment' pet.pk %}">
                        {{ form }}
                        {% csrf_token %}
                        <button class="btn btn-primary mt-2" type="submit">Add comment</button>
                    </form>
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
